*{
    margin: 0;
}

body {
    background-image: url('../images/background.jpg');
    background-size: contain;
}

#switch {
    margin-left: 90%;
    height: 30px;
    width: 30px;
    background-image: url('../images/switch.jpg');
    background-size: contain;
}

section {
    font-family: 'Brush Script MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: slateblue;
    border-style: double;
    border-width: 10px;
    border-color: teal;
}

section p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10%;
}