*{
    margin: 0;
}

.dark {
    background: black;
    color: white;
}

#switch {
    margin-left: 90%;
    height: 30px;
    width: 30px;
}

section {
    font-family: 'Brush Script MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: slateblue;
    border-style: double;
    border-width: 10px;
    border-color: teal;
}

section p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10%;
}